.fp__screen {
    height: 105vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../assets/images/fpscreen.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.fp__form {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: auto;
    margin-left: 11rem;
    margin-bottom: 5rem;
    padding: 5rem 0 5rem 0;
    background-color: hsl(0, 0%, 96%, 50%);
}

.form__group  > *{
    margin: 1rem;
}

.fp__title {
    color: black;
    font-size: 3rem;
    text-align: center;
}

.forgot__label {
    color: black;
}

.forgot__btn {
    height: 2rem;
    width: 9rem;
    margin: auto;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #538de8;
    color: #f4f4f4;
}

.forgot__btn:hover {
    background-color: #ff13b0;
    color: #f4f4f4;
    transition: background-color .8s ease-out;
}

.error__message {
    color: red;
    text-align: center;
}

.success__message {
    color: green;
    text-align: center;
}

@media (max-width: 1008px) {

    .fp__form {
        height: auto;
        width: 50%;
        margin-bottom: ;
    }
}

@media (max-width: 825px) {

    .fp__screen {
        margin: auto;
    }

    .fp__form {
        margin: auto;
        padding: 2rem;
    }

    .fp__title {
        font-size: 2rem;
    }

    .fp__text {
        font-size: 1rem;
    }

    button {
        height: 1.3rem;
        width: 6rem;
        font-size: 1rem;
    }
}

@media (max-width: 625px) {

    .fp__screen {
        margin: auto;
    }

    .fp__form {
        margin: auto;
        padding: .5rem;
    }

    .fp__title {
        font-size: 2.2rem;
    }

    .fp__text {
        font-size: .9rem;
    }

    button {
        height: 1.1rem;
        width: 5.5rem;
        font-size: .9rem;
    }
}

@media (max-width: 500px) {
    .fp__screen {
        margin: auto;
    }

    .fp__form {
        margin: auto;
        padding: .2rem;
    }

    .fp__title {
        font-size: 1.5rem;
    }

    .fp__text {
        font-size: .6rem;
    }

    button {
        height: 1rem;
        width: 5rem;
        font-size: .8rem;
    }
}

