.rp__screen {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rp__form {
    text-align: center;
}

.rp__title {
    font-size: 2em;
    color: #538de8;
}

.reset__label {
    color: #538de8;
    font-size: 1.2em;
}

.success__message {
    color: green;
    margin-top: 1rem;
}

.success__message > a {
    color: #538de8;
}

.reset__pass__btn {
    height: 2rem;
    width: 9rem;
    color: #538de8;
    border-radius: 5px;
    cursor: pointer;
}

.reset__pass__btn:hover {
    background-color: #ff13b0;
    color: #f4f4f4;
    transition: background-color .8s ease-out;
}