.sidebar {
    width: 70%;
    height: 100vh;
    background: #89ABE3FF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar.show {
    transform: translateX(0);
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sidebar__links > li {
    display: flex;
    align-items: center;
}

.sidebar__auth > * {
    display: flex;
    flex-direction: column;
}

.sidebar__links > .sidebar__auth__logged__in  > * {
    display: flex;
    flex-direction: column;
}

.sidebar__auth__logged__in:hover {
    background-color: #f4f4f4;
    color: rgb(84, 141, 233);
}

.sidebar__auth > a:hover {
    background-color: #f4f4f4;
    color: rgb(84, 141, 233);
}

.sidebar__links > * > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size:  2rem;
    color: #f4f4f4;
}

.sidebar__links > li > a:hover {
    background-color: #f4f4f4;
    color: rgb(84, 141, 233);
}

.sidebar__links > li > a > span {
    display: flex;
    align-items: center;
    margin-left: .3rem;
}

.sidebar__links > li > a > span > i {
    margin-right: .3rem;
}

.sidebar__cartbadge {
    margin-left: .3rem;
}

@media (max-width: 950px) {
    .sidebar__links > * > * {
        font-size: 1.5em;
    }
}

@media (max-width: 750px) {
    .sidebar__links > * > * {
        font-size: 1em;
    }
}

@media (max-width: 450px) {
    .sidebar__links > * > * {
        font-size: .8em;
    }
}

@media (max-width: 250px) {
    .sidebar {
        display: none;
    }
}